[submodule "FreeRTOS"]
	path = FreeRTOS
	url = https://github.com/ihavn/VIA_FreeRTOS_AVRMEGA
[submodule "MyFirst GCC C Arduino Mega 2560 Atmel/FreeRTOS"]
	path = MyFirst GCC C Arduino Mega 2560 Atmel/FreeRTOS
	url = https://github.com/ihavn/VIA_FreeRTOS_AVRMEGA
